#calendar-fullscreen {
    /* Ocupa a maior parte da tela */
    width: 95%; 
    max-width: 100%;
    margin: 20px auto; /* Centraliza horizontalmente */
    border: 1px solid rgb(99, 235, 183);
    padding: 10px;
    border-radius: 7px;
}

.fc .fc-toolbar-title {
    font-size: 25px;
}

.fc-col-header-cell-cushion {
    font-size: 15px;
}

.fc-event {
    background-color: rgb(99, 235, 183); 
    border-color: rgb(0, 0, 0);
    padding: 8px 0px; 
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold; 
}

.voltar-tela-principal{
    text-decoration: none;
    background-color: white;
    padding: 7px;
    border: solid 1px rgb(99, 235, 183);
    border-radius: 7px;
    color: black;
}

body{
    background-color: white;
}