button:hover {
    cursor: pointer
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 222, 222);
}

.header{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(99, 235, 183);
    background-color: white;
}

.icones{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.icons{
    margin-right: 15px;
}

.grid-da-tela{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5%
}

.grid-da-tela > div{
    margin-top: 0;
    justify-items: center;
    margin-top: 1%;
}

.botao-adicionar-materia{
    justify-content: center;
    line-height: 35px;
    border: 1px dashed rgb(99, 235, 183);
    border-radius: 50px;
    height: 40px;
    width: 170px;
    background-color: white;
    display: flex;
}

.botao-salvar {
    border: 1px solid rgb(99, 235, 183);
    height: 27px;
    width: 85px;
    background-color: white;
}

.botao-cancelar {
    border: 1px solid rgb(255, 34, 34);
    height: 27px;
    width: 85px;
    background-color: white;
}

.campo-nome-materia{
    border: 1px solid rgb(221, 221, 221);
    height: 25px
}


.logo-mentora{
    padding-top: 5px;
}

input{
    width: 15vw;
}

.margem-para-conteudo{
    margin-left: 1%;
    margin-right: 1%;
}

.materias-e-atalhos{
    background-color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 7px;
}


#escurecer-fundo{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

#sobrepor-formulario{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27%;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    z-index: 20;
    display: none;
}

#lista-materias {
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

#lista-materias li {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgb(99, 235, 183);
    border-radius: 50px;
    max-width: 17vw;
    word-wrap: break-word;
    white-space: normal;
}